name: Build GoldSnap
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          # تحميل أدوات البناء الأساسية
          curl -LO https://github.com/theos/sdks/raw/master/iPhoneOS14.5.sdk.tar.xz
          mkdir -p ~/theos/sdks
          tar -xvf iPhoneOS14.5.sdk.tar.xz -C ~/theos/sdks
          
      - name: Build Dylib
        run: |
          export THEOS=~/theos
          make FINALPACKAGE=1
          
      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: My-GoldSnap-Dylib
          path: "**/GoldSnapV10.dylib"
