name: Build GoldSnap
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          brew install ldid
          
      - name: Build Tweak
        run: |
          export THEOS=~/theos
          make
          # حركة إجبارية: نسخ الملف للمجلد الرئيسي عشان GitHub يشوفه غصب
          find . -name "*.dylib" -exec cp {} ./gold.dylib \;
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GoldSnap-File
          path: gold.dylib
